<h1>取引先会社名一覧</h1>

<table>
  <thead>
    <tr>
      <th>会社名</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company %></td>
        <td><%= link_to '詳細', company %></td>
        <td><%= link_to '編集', edit_company_path(company) %></td>
        <td><%= link_to '削除', company, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい取引先の作成', new_company_path %>
