<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @company.company %>
  (<%= @company.kana %>)
</p>

<p>
  <strong>住所:</strong>
  〒<%= @company.first_address_number %>-<%= @company.second_address_number %>
  <%= @company.prefecture %><%= @company.city %><%= @company.town %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @company.phone_number1 %>-<%= @company.phone_number2 %>-<%= @company.phone_number3 %>
</p>

<p>
  <strong>ファックス番号:</strong>
  <%= @company.fax_number1 %>-<%= @company.fax_number2 %>-<%= @company.fax_number3 %>

<p>
  <strong>メールアドレス:</strong>
  <%= @company.mail_address %>
</p>

<p>
  <strong>ホームページ:</strong>
  <%= @company.hp_url %>
</p>

<%= link_to '編集', edit_company_path(@company) %> |
<%= link_to 'トップへ戻る', companies_path %>
